@import "tailwindcss";
html.light {
  --footer-bg: linear-gradient(
    to bottom right,
    rgb(249, 220, 255),
    #b752ff,
    #8807e3
  );
}

html.dark {
  --footer-bg: linear-gradient(to bottom right, #18181b, #27272a, #000000);
}

html.light {
  background-color: whitesmoke;
}
html.light .theme1 {
  color: black !important;
}

html.dark {
  background-color: #0f0f0f;
  color: whitesmoke;
}

.btn {
  @apply bg-[#ff0066] text-white py-3 px-6 rounded-lg hover:bg-white hover:text-[#ff0066] transition duration-300 cursor-pointer;
}

.hr {
  @apply border-t border-[#ff0066] w-1/3 mx-auto;
}

.backImage {
  background: linear-gradient(rgba(255, 251, 0, 0.176), rgba(255, 251, 0, 0)),
    url("../public/images/bg.jpg");
  background-size: cover;
  background-position: center;
}

.backImage2 {
  background: linear-gradient(rgba(255, 251, 0, 0.32), rgba(255, 251, 0, 0.148)),
    url("../public/images/bg2.jpg");
  background-size: cover;
  background-position: center;
}

.divItemChart {
  @apply flex flex-col items-center justify-center text-center text-white p-4;
}

.divTitle {
  @apply text-5xl font-bold text-[#ff0066];
}

.pSerLogo:hover .serLogo {
  @apply bg-white text-[#ff0066] transition duration-300;
}
.serLogo {
  @apply bg-[#ff0066] text-white w-20 h-20 rounded-full flex items-center justify-center cursor-pointer  transition duration-700;
}

#ulMenu.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #000000;
  padding: 1rem;
  border-top: 1px solid #000000;
}
#menu {
  position: fixed;
  top: 0;
  z-index: 1;
}
#scroll {
  background-color: #ff0066;
  height: 2px;
  box-shadow: 0px 2px 4px white;
  position: fixed;
  top: 0;
  z-index: 2;
}
header {
  align-content: center;
  background-image: linear-gradient(90deg, #000000, #ff0066);
  backdrop-filter: blur(5px);
  height: 4rem;
  left: 0;
  position: fixed;
  top: 0;
  text-align: end;
  width: 100%;
}

input#btn-hamburguer[type="checkbox"] {
  opacity: 0;
  pointer-events: none;
}

.btn-menu {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  right: 12px;
  text-shadow: 0 0 10px #fff;
}

.overlay {
  background-color: #000000;
  backdrop-filter: blur(5px);
  cursor: pointer;
  right: 33vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.5s linear, transform 0.5s linear;
  transform: translate3d(100vw, 0, 0);
  width: 67vw;
}

.menu {
  background-image: linear-gradient(45deg, #000000, #ff0066);
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.5s linear, transform 0.3s linear;
  transform: translate3d(100vw, 0, 0);
  width: 33vw;
  -webkit-transition: opacity 0.5s linear, transform 0.3s linear;
  -moz-transition: opacity 0.5s linear, transform 0.3s linear;
  -ms-transition: opacity 0.5s linear, transform 0.3s linear;
  -o-transition: opacity 0.5s linear, transform 0.3s linear;
}

.menu .btn-menu {
  left: 12px;
}

header:has(#btn-hamburguer:checked) + .overlay,
header:has(#btn-hamburguer:checked) + .overlay + .menu {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
}

.ctn-btn-menu-close {
  margin-block: 1rem;
}

ul li {
  left: 1rem;
  list-style: none;
  margin-block: 1rem;
  padding: min(1rem, 3%);
  position: relative;
  width: calc(100% - 1rem);
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: clamp(16px, calc(2vw + 0.1rem), 1.75rem);
}

section {
  padding: 1rem;
  margin-top: 3rem;
}

section p {
  margin-top: 1rem;
  line-height: 1.5;
}
.swiper-pagination-bullet {
  background-color: white !important;
  /* color: white; */
}
#footer {
  @apply mt-20 py-12 px-4 relative overflow-hidden
    bg-gradient-to-br
    from-pink-100 via-pink-200 to-pink-300
    text-gray-900
  
    dark:from-zinc-900
    dark:via-zinc-800
    dark:to-zinc-950
   dark:text-white;
}
